<template>
  <section>
    <!--h3>Earcon Baukasten</h3-->
    <div class="wrapper">
      <browser></browser>
      <editor></editor>
    </div>
  </section>
</template> 

<script lang="ts">
import { Vue, Component, Prop, Watch } from "vue-property-decorator";
import EventBus from "vue-bus-ts";
import Browser from "./Browser.vue";
import Editor from "./Editor.vue";



// router
@Component({
  components: { Browser, Editor }
})
export default class App extends Vue {
  transitionName = "fade-down";
}


</script>

<style lang="scss" scoped>
@import "../style/_vars.scss";

section {
  color: $darkColor; // defined in _vars.scss
  padding: 10px 100px;
  transition: 0.5s;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background: rgb(233, 233, 233);
  grid-gap: 1em;
  color: rgb(62, 62, 62);
}
</style>
