<!-- src/components/Browser.vue -->
<template>
    <div class="browser">
        <h1> Earconizer</h1>
        <!--form>
            <input type="text"/>
            <i class="fa fa-search"></i>
        </form-->
        <br/>
        <Transport></Transport>
        <br/>
        <BTemps :node="root"></BTemps>
        <BTemps :node="demo"></BTemps>
        
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import BTemps from './BTemps.vue';
import Test from './Test.vue';
import Transport from "./Transport.vue";

@Component({
    components: {Transport, BTemps, Test}

})
export default class Browser extends Vue {
    demo = {name: 'Demos',
            children: [
                {name: 'Messenger',
                template: 'demo1'}
            ]}

    root = {name: 'Templates', 
        children : [
            {name:'Applikationen',
            children: [
                {name: 'Browser'},
                {name: 'Kalender'},
                {name: 'Messenger',
                children: [
                    {name: 'Anruf'},
                    {name: 'Kontakte',
                    children: [
                        {name: 'Anfrage erhalten'},
                        {name: 'Anfrage versendet'},
                        {name: 'Anfrage versendet'}
                    ]},
                    {name: 'Nachricht',
                    children: [
                        {name: 'Audio erhalten'},
                        {name: 'Bild erhalten'},
                        {name: 'Datei erhalten'},
                        {name: 'Nachricht erhalten'},
                        {name: 'Nachricht fehler'},
                        {name: 'Nachricht löschen'},
                        {name: 'Nachricht versendet'}
                    ]}
                ]}
            ]},
            {name: 'Betriebssystem',
            children: [
                {name: 'PC'},
                {name: 'Smartphone'},
                {name: 'Spielekonsole'}
            ]},
        ]}
}
</script>

<style lang="scss">
@import "vars";

h1 {
    margin-left: 40px;
    margin-top: 40px;
}

.browser{
overflow-x: hidden;
//overflow-y: scroll;

}
.greeting {
    font-size: 20px;
    color: $primaryColor;
}
</style>