<!-- src/components/BTemps.vue -->
<template>
    <div class="BTemps">
        <div 
            @click="expanded = !expanded"
            :style="{'margin-left': `${depth * 20}px`}"
            class="node">
            <span 
                v-if="hasChildren()"
                class="type">{{expanded ? '&#9660;' : '&#9658;'}}
            </span>
            <span v-else>&#9671;</span>
            <p>{{node.name}}</p>
            <span v-if="hasTemplate()" id="importTemp" @click="loadTemplate(hasTemplate())"> &#8921; </span>
        </div>
        <BTemps  
            v-if="expanded"
            v-for="child in node.children"
            :key="child.name"
            :node="child"
            :depth="depth +1">
        </BTemps>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
//import BTempItem from './BTempItem.vue';
//import TreeView from '@ll931217/vue-treeview';


@Component
export default class BTemps extends Vue {
    @Prop() node!: Object | any;
    @Prop({default: 0}) depth!: Number;
    
    expanded = false;
    
    hasChildren() {
        return  this.node.children;
    }

    hasTemplate(){
        return this.node.template;
    }

    loadTemplate(template: string){
        // einbinden einer Logik für das laden von Templates

        this.$bus.$emit('loadTemplate' /*, template*/);
    }
}
</script>

<style scoped lang="scss">
@import "vars";

.BTemps {
    width: 100%;
    margin-left: 25px;
    margin-top: 3px;
    margin-bottom: 3px;
    
}

.node {
    text-align: left; 
    cursor:default;
    width: 100%;   
}

.node:hover {
    text-align: left; 
    cursor:pointer;
    width: 100%;
    background-color:  rgb(240,240,240);
    
}

#importTemp {
    text-align: right;
    margin-left: 50px;

    cursor: pointer;
}
p {
    display: inline;
    font-size: 16px;
    margin-left: 10px;
}

.greeting {
    font-size: 20px;
    color: $primaryColor;
}
</style>