<template>
  <div>
    <br><br><br><br>
    <div id="editor" ref="editor"></div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import "./../components/EventBus";
import * as P5 from "p5";
import "p5/lib/addons/p5.sound.min";
import "p5/lib/addons/p5.dom.min";
import { EarconEditor } from "./../scripts/EarconEditor/EarconEditor";
import { Knoten } from "../scripts/knoten";
import { Logger } from "../scripts/Logger/Logger";

@Component
export default class EarconEditorModule extends Vue {
  @Prop() type!: any;

  editor: HTMLElement | any;
  earconEditor: EarconEditor = new EarconEditor(700, 300, this.sendStopEvent, this.sendStartEvent);
  p5: any;

  mounted() {
    let that = this;
    this.editor = this.$refs.editor as HTMLElement;
    //this.p5 = new P5(this.sketch, this.$refs.editor);
    this.earconEditor.start(this.editor);
    var onNewKnotenSelect = this.$bus.$on("onNewKnotenSelect", function(params: any) {
      if (params instanceof Knoten) {
        that.earconEditor.loadKnoten(params);
        //that.earconEditor.earconEffectProcessor.startPlay(); //Start on Click
        // that.earconEditor.earconEffectProcessor.loadEarcon(that.earconEditor.getEffects())
      }
    });

    //Empfangspunkt für play Event
    var onPlayEarcon = this.$bus.$on("onPlayEarcon", function(params: any) { 
        that.earconEditor.earconEffectProcessor.startPlay()

    });
  }

  sendStopEvent(){
    var result = this.$bus.$emit('onEarconFinished'); //sendet stop signal an den play component damit sich die farb ändern kann
  }

  sendStartEvent(){
    Logger.max("Schicke Play Signal")
    
    var sendPlaySignal = this.$bus.$emit("playColor");
  }

  beforeDestroy() {
    this.earconEditor.destroy();
  }
}
</script>

<style lang="scss" scoped>
@import "../style/_vars.scss";
</style>
