<!-- src/components/Editor.vue -->
<template>
    <div class="editor">
        <EarconEditor></EarconEditor>
        <implement></implement>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
//import Sample from './SamplePreview.vue';
import EarconEditor from "./EarconEditorComp.vue"
import Implement from './Implement.vue';

@Component({
    components: {Implement, EarconEditor}
})
export default class Editor extends Vue {
    //@Prop() name!: string;
       

}
</script>

<style lang="scss">
@import "vars";

.editor {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-gap: 1em;
  margin-bottom: 6px;
  margin-top: 0px;
}

</style>