<!-- src/components/Implement.vue -->
<template>
    <div>
        <!--h1>Implement</h1-->
        <div id="implement" ref="implement"></div>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import * as P5 from 'p5';
import 'p5/lib/addons/p5.sound.min';
import 'p5/lib/addons/p5.dom.min';
import {EarconHandler} from "./../scripts/earconHandler"
import { Knoten } from './../scripts/knoten';
import { Logger } from "../scripts/Logger/Logger";
import { connectSeries } from "tone";

@Component
export default class Implement extends Vue {

@Prop() type!:any;

graph : HTMLElement | any;
p5 : p5 | any;
earconHandler : any;

mounted(){
    let that = this;
    this.graph = this.$refs.implement as HTMLElement;
    this.p5 = new P5(this.sketch, this.graph);
    this.earconHandler  = new EarconHandler(this.p5);
    
    
    window.addEventListener("keydown", e => {
        if (e.keyCode == 8) {
            e.preventDefault();  //verhindert das Browser-Zurück
            if(this.earconHandler.getEntername()) {
                this.earconHandler.typeText = this.earconHandler.typeText.slice(0,this.earconHandler.typeText.length-1);
                this.earconHandler.getTheActiveOne().setName(this.earconHandler.typeText)
                this.earconHandler.updateTree();
                this.p5.redraw();
            }
        }
    });
 
    window.addEventListener("keypress", e => {
        if(this.earconHandler.getEntername()) {
                    /* falls Enter gedrückt wird */
                    if (e.keyCode == 13) { 
                        this.earconHandler.setEntername(false);
                        this.earconHandler.getTheActiveOne().setName(this.earconHandler.typeText)
                        this.earconHandler.typeText = "";
                    } else {
                        /* falls backspace gedrückt wird */
                        if (e.keyCode == 8){
                            e.preventDefault(); //verhindert das Browser-Zurück
                            this.earconHandler.typeText = this.earconHandler.typeText.slice(0,this.earconHandler.typeText.length-1);
                        }
                        /* falls Shift, Tab, Strg, Alt  gedrückt wird */
                        else if(e.keyCode >= 17 && e.keyCode <=  19) {}
                        else
                            this.earconHandler.typeText = this.earconHandler.typeText + String.fromCharCode(e.keyCode);
                        this.earconHandler.getTheActiveOne().setName(this.earconHandler.typeText)
                    }
                    this.earconHandler.updateTree();
                    this.p5.redraw();
                    return false;
                }
                return false;
        });

    var loadTemplate = this.$bus.$on("loadTemplate", function(params: any) {
        that.earconHandler.boot();
        that.earconHandler.whatchyaClickin(0,0);
        that.earconHandler.updateTree();
        that.p5.redraw();
        
        
    });

}

beforeDestroy(){
  //this.earconEditor.destroy()
}

    sketch(p5:p5){
        
        p5.setup = () => {
            p5.createCanvas(700, 500);
	        p5.frameRate(24);
            
            //this.earconHandler.boot();
            this.earconHandler.updateTree(); 
           
            p5.noLoop();
        }

        p5.draw = () => {
            p5.background(233,233,233);
            this.earconHandler.drawBackground();
            this.earconHandler.drawTree();
            Logger.toni("--------- fertig gezeichnet ----------");
        }

        p5.mousePressed = () => {          
            Logger.toni("Mouse Position of Implement", " x: ",p5.mouseX,"y: ",p5.mouseY);
	        this.earconHandler.setEntername(false); 
            var item :Knoten = this.earconHandler.whatchyaClickin(p5.mouseX,p5.mouseY);
            if(item == null) {
                Logger.toni("kein Knoten ausgewählt");
            } else if (this.earconHandler.getTheActiveOne() == item && p5.mouseX > 0 && p5.mouseY > 0) {
                this.earconHandler.setEntername(true);
                this.earconHandler.typeText = item.getName();
                Logger.toni("umbennennen == >  Entername: ", this.earconHandler.getEntername());
                Logger.toni("aktiver Knoten ", this.earconHandler.getTheActiveOne());
            } else {
                item.setActive();
                var result = this.$bus.$emit('onNewKnotenSelect', item);
                this.earconHandler.setTheActiveOne(item);
            }
            if(item != null){
                item.setActive();  
            }
                            
            this.earconHandler.updateTree();
	        p5.redraw();
 
        }

        /*p5.keyPressed = () => {
            Logger.toni("################## gedrückt #################");
            if(this.earconHandler.getEntername()) {
                
                if (p5.key == "Enter") {
                    this.earconHandler.setEntername(false);
                    this.earconHandler.getTheActiveOne().setName(this.earconHandler.typeText)
                    this.earconHandler.typeText = "";
                } else {
                    if (p5.key == "Backspace")
                        this.earconHandler.typeText = this.earconHandler.typeText.slice(0,this.earconHandler.typeText.length-1);
                    else if(p5.key == "Shift") {}
                    else
                        this.earconHandler.typeText = this.earconHandler.typeText + p5.key;
                    this.earconHandler.getTheActiveOne().setName(this.earconHandler.typeText)
                }
                this.earconHandler.updateTree();
                p5.redraw();
                return false;
            }
            return false;
        }*/
    


    }
} 
</script>

<style lang="scss">
@import "vars";

</style>






