<!-- src/components/SamplePreview.vue -->
<template>
    <div class="preview">
        <h1>SampleViewer</h1>
        <div id="graph" ref="graph"></div>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import * as P5 from "p5";
import "p5/lib/addons/p5.sound.min";
import "p5/lib/addons/p5.dom.min";

@Component
export default class SamplePreview extends Vue {
    
    // @Prop() type!:any;

    mounted(){
        const graph = this.$refs.graph as HTMLElement;
        new P5(this.sketch, graph);
    }
    sketch(p5:p5){
        let peaks: Float32Array;
        let button:P5.Element;
        let state:String = "INIT";
        let polySynth: P5.PolySynth;
        let vol:Number = 0.5;
        var sound: P5.SoundFile;
        let recorder: P5.SoundRecorder;
        let note: any = "A4";
        let note2: any ="G3";
        let note3: any = "D4";


        p5.setup = () => {
            p5.createCanvas(700, 200);
            polySynth = new P5.PolySynth();
            recorder= new P5.SoundRecorder();
            recorder.setInput(polySynth);
            button = p5.createButton("Single") as p5.Element;
            button.mousePressed(trigger);
            sound = new P5.SoundFile("");
            }

        p5.draw = () => {
            p5.background(0);
            if (state === "RECORDED"){
                p5.noFill();
                p5.stroke("red");
                p5.strokeWeight(1.5);
                p5.beginShape();
            for (var i = 0; i<peaks.length; i++){
                p5.vertex(p5.map(i, 0, peaks.length, 0, p5.width), p5.map(peaks[i], -1, 1, p5.height, 0));
            }
            p5.endShape();
            }
        }

        function trigger(){
            if(!sound.isLoaded()){
                console.log("Synthesized");
                recorder.record(sound, 0.6, peak);
                polySynth.play(note, 0.5, 0, 0.2);
                polySynth.play(note2, 0.5, 0, 0.2);
                polySynth.play(note3, 0.5, 0, 0.2);
            }else{
                sound.play();
                // p5.save(sound);
                console.log("Sampled")
            }
        }

        function peak(){
            //p5.save(sound);
            state = "RECORDED";
            console.log(state);
            peaks = sound.getPeaks(5*p5.width);
            console.log(peaks);
        }
   }

}
</script>

<style lang="scss">
@import "vars";

.greeting {
    font-size: 20px;
    color: $primaryColor;
}
</style>