<!-- src/components/Test.vue -->
<template>
    <div>
        <h1>Meh ~.~</h1>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";

@Component
export default class Test extends Vue {
    
}
</script>

<style lang="scss">
@import "vars";

.greeting {
    font-size: 20px;
    color: $primaryColor;
}
</style>