<template>
  <div>
    <div class="transport" id="transport" ref="transport"></div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import * as P5 from "p5";
import "p5/lib/addons/p5.dom.min";
import { Logger } from "../scripts/Logger/Logger";
import { PlayerControll } from "../scripts/Player/PlayerControll";
import * as Tone from "tone";

@Component
export default class Transport extends Vue {
  @Prop() type!: any;

  graph: HTMLElement | any;
  p5: p5 | any;
  isPlaying: boolean = false;

  mounted() {
    let that = this;
    this.graph = this.$refs.transport as HTMLElement;
    this.p5 = new P5(this.sketch, this.graph);
    var eventId = this.$bus.$on("onEarconFinished", function(params: any) {
      //empfängt stop signal wenn fertig mit spielen
      that.stopPlaying(); //setzt isplaying auf false damit die farbe angepasst wird
      Logger.max("stop event received")
    });

    var msgPlay = this.$bus.$on("onNewKnotenSelect", function(params: any){
      Logger.max("Ich Will spielen")
      that.playing()

    })

    var sendSignal = this.$bus.$on("playColor", function(params: any){
      Logger.max("Start Event received")
      that.playing()
    })
  }

  stopPlaying() {
    //Logger.max("+2N");
    window.setTimeout(() => {this.isPlaying = false}, 1000)
  }

  playing(){
    this.isPlaying = true;
    // var result = this.$bus.$emit("onPlayEarcon"); //sendet play event, damit earconprocessor weiß dass er spielen muss. Empfangspunkt in EarconEditorCOmp
  }

  sketch(p5: p5) {
    let playbutton: P5;
    let bpmSlider: p5.Element;
    let c: p5.Color;
    //let isPlaying: boolean;
    let d: number;
    let player: PlayerControll;
    let playColor = p5.color(196, 0, 68)
    let stopColor =p5.color(70, 70, 70)

    p5.setup = () => {
      p5.createCanvas(200, 50);

      c = p5.color(70, 70, 70);
      bpmSlider = p5.createSlider(100, 500) as p5.Element;
      bpmSlider.position(200, 136);
      bpmSlider.style("width", "95px");

      player = new PlayerControll(false, bpmSlider.value() as any); //alss ich drin damit die bpm da geändert werden, das wirkt sich auch auf das tempo von meinen player aus. schön ist es aber nicht
      //p5.noLoop();
    };

    p5.draw = () => {
      if (this.isPlaying) c = playColor
      //farbe zuweisen je nachdem obs spielt oder nicht
      else c = stopColor
      p5.background(245, 245, 245);
      p5.fill(c);
      p5.stroke(0, 0, 0);
      playbutton = p5.triangle(20, 40, 45, 25, 20, 10);
    };

    p5.mouseClicked = () => {
      let bpmV = bpmSlider.value() as any;
      //Logger.max(bpmV, typeof bpmV);
      player.bpmNeu(bpmV);
    };

   p5.mousePressed = () => {
      d = p5.dist(p5.mouseX, p5.mouseY, 32, 25);
      if (d < 15) {
        Logger.max("Geklickt", p5.mouseX, p5.mouseY);
    
        //WIEDERGABE
        this.playing();
        var result = this.$bus.$emit("onPlayEarcon"); //sendet play event, damit earconprocessor weiß dass er spielen muss. Empfangspunkt in EarconEditorCOmp

        //Tone.Transport.start();
        //p5.redraw();
      } else {
        Logger.max("Vorbeigeklickt!");
      }
    }
  }
}
</script>

<style lang="scss">
@import "vars";

canvas {
  border-radius: 12px;
}

.transport {
  margin-left: 30px;
}
</style>